.navbar {
  width: 100%;
  height: 80px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8) 8.59%,
    rgba(252, 252, 252, 0.0125) 85.16%,
    rgba(252, 252, 252, 0) 108.59%
  );
  color: #1f136c;
  position: fixed;
  top: 0;
  z-index: 5;

  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      .logo {
        font-size: 20px;

        text-decoration: none;
        color: #1f136c;
      }
    }

    .right {
      .pages {
        display: flex;

        .pagelink {
          color: #1f136c;
          margin-right: 40px;
          text-decoration: none;
        }

        // .resumelink {
        //   margin-right: 30px;
        //   text-decoration: none;
        // }
        // .projectslink {
        //   margin-right: 30px;
        //   text-decoration: none;
        // }
        // .aboutlink {
        //   margin-right: 30px;
        //   text-decoration: none;
        // }
        // .artlink {
        //   text-decoration: none;
        // }
      }
    }
  }
}
